{:kotoba.app/id "cloud.itonami.isic-1621", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia5ujnhemmgkwhalannecgenanpd5quhmmaemvw3lafkpmciopplq", :kotoba.app/embed-url "ipfs://bafkreia5ujnhemmgkwhalannecgenanpd5quhmmaemvw3lafkpmciopplq", :published {:archive "https://kotobase.net/ipfs/bafkreia5ujnhemmgkwhalannecgenanpd5quhmmaemvw3lafkpmciopplq", :size 72758, :put-status 201, :get-status 200, :at "2026-08-15T13:55:25.841Z"}}
